// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  padding: 20px 0;
  padding-top: 70px;
}

.card-product-infos H2 {
  font-size: 28px !important;
  padding-bottom: 20px;
}

.container-fluid pb-5 {
  padding-bottom: 6rem;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  padding-bottom: 50px;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button {
  background-color: $pink;
  color: white;
  margin: 0, auto;
  font-size: larger;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  color: black;
  transition-duration: 0.5s;
}

.subheading {
  margin: 0 auto;
  display: flex;
  font-size: 45px;
  padding: 45px;
  text-align: center;
  justify-content: center;
  // background-color: white;
}
.subheading-testimonials {
  color: white;
}

.details {
  font-size: 15px;
  color: black;
}

.card-product {
  padding-top: 80px;
  border-radius: 4px;
  height: 400px;
  background: white;
  display: flex;
  align-items: center;
  color: rgb(42, 41, 41);
  margin-left: 10px;
}

.bottom-picture {
  height: 100%;
  width: 80%;
  object-fit:cover;
  border-radius:16px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.picture-box{
  text-align: center;
}

.chatter {
  font-weight: 500 !important;
  font-size: 20px !important;
}
// .card-product h2 {
//   font-size: 24px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-product p {
//   font-size: 20px;
//   line-height: 1.4;
//   opacity: .5;
//   margin-bottom: 80px;
//   margin-top: 12px;
// }

// .card-product .card-product-infos {
//   padding: 30px;
//   margin-bottom: 10px;
//   width: 50%;
// }

.container-homepage{
  padding: 0 60px 0 60px;
}


.testimonial-box {
background-color: pink;
padding-bottom: 60px;
}

.card-product-infos {
  padding: 36px !important;
}

.box {
margin-bottom: 32px !important;
margin-top: 32px !important;

}


a {
  text-decoration: none !important;

}
