<%# banner with background %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbb3sntqk/image/upload/v1660677482/nick-karvounis-og_p3b9bJ7E-unsplash_lr76ie.jpg)">
  <div class="container text-center">
    <h1>Discover a new experience with a local grandma</h1>
    <p>Spend an afternoon learning something new, from someone who has been doing it for decades</p>
    <h5><%= link_to "Find an abuela", experiences_path, class: "button p-3 mt-3" %></h5>
  </div>
</div>
<div class="container-fluid bg-white pb-5">
  <h4 class="subheading">How it works</h4>
  <div class="row px-5">
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667117/1752922_bpt8qr.png" style="width:60px">
      <h4 class="py-3">Pick an experience</h4>
      <p class="details">Browse all our experiences and pick the one that tickles your fancy.</p>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660691858/791475_d8e5wz.png" style="width:60px">
      <h4 class="py-3">Book an appointment</h4>
      <p class="details">Set a date and make your appointment</p>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667187/3554643_e82nui.png" style="width:60px">
      <h4 class="py-3">Enjoy quality time with grandma!</h4>
      <p class="details">Meet up with abuela for your authentic experience</p>
      </div>
  </div>
</div>
<h4 class="subheading">Testimonials</h4>
<div class="d-flex justify-content-between" style="height: 600px">
  <div class="col-6">
    <div class="container">
      <div class="card-product">
        <div class="card-product-infos">
          <h2>Making Lasagna with Abuela Laura</h2>
          <h4>"I really missed making lasagna with my grandma when I moved away from home, so I really appreciated my time with Laura and learning her family recipe. We had so much fun and it was delicious!"</h4>
          <p class="pb-5">- Anais, Montreal</p>
          <h5><%= link_to "Find an abuela", experiences_path, class: "button p-3 mt-5" %></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <img class="bottom-picture" src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660758577/26947d66-9225-41fb-951b-1efce92d8f3c_xgohsd.jpg" />
  </div>
</div>










<%# button: find a grandma %>
