<%# banner with background %>
<div class="banner" style="background-image: $light-pink);">
  <div class="container text-center">
    <h2>Abuelitas connects you to a local abuela</h2>
    <h5><%= link_to "Find an Abuela", experiences_path, class: "btn p-3 mt-3" %></h5>
  </div>
</div>
<div class="container-fluid bg-white pb-5">
  <div class="row">
    <h4 class="text-center py-5">How it works</h4>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667117/1752922_bpt8qr.png" style="width:60px">
      <h4 class="py-3">Pick an experience</h4>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667446/2460737_lqhme4.png" style="width:60px">
      <h4 class="py-3">Book an appointment</h4>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667187/3554643_e82nui.png" style="width:60px">
      <h4 class="py-3">Enjoy your quality time with grandma!</h4>
      </div>
  </div>
</div>







<%# button: find a grandma %>
