<%# banner with background %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbb3sntqk/image/upload/v1660677482/nick-karvounis-og_p3b9bJ7E-unsplash_lr76ie.jpg)">
  <div class="container text-center">
    <h1>Find an experience with a local grandma</h1>
    <p>Abuelitas connects you to an abuela to learn and share her wisdom</p>
    <h5><%= link_to "Find an abuela", experiences_path, class: "button p-3 mt-1" %></h5>
  </div>
</div>
<div class="container-fluid bg-white pb-5">
  <div class="row">
    <h4 class="text-center py-5">How it works</h4>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667117/1752922_bpt8qr.png" style="width:60px">
      <h4 class="py-3">Pick an experience</h4>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667446/2460737_lqhme4.png" style="width:60px">
      <h4 class="py-3">Book an appointment</h4>
      </div>
      <div class="col text-center">
        <img src="https://res.cloudinary.com/dbb3sntqk/image/upload/v1660667187/3554643_e82nui.png" style="width:60px">
      <h4 class="py-3">Enjoy your quality time with grandma!</h4>
      </div>
  </div>
</div>







<%# button: find a grandma %>
