<h1>Abuelitas</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), #F1E5EC);">
  <div class="container">
    <h1>Abuelitas connects you to a local abuela for an afternoon of fun activities</h1>
    <p>Are you looking for a day of fun, heartwarming activities?</p>
    <a class="btn btn-warning" href="#">Find an abuela</a>
  </div>
</div>






<%# button: find a grandma %>
