.btn {
  background-color: $pink;
  color: white;
  margin: 0, auto;
  font-size: larger;
  border-radius: 4px;
  padding: 10px;
}

.btn:hover {
  color: $pale-pink;
}

.new-btn {
  background-color: transparent !important;
  border: 0;
  padding: 0;
  color: $pink;
}

.new-btn:hover {
  color: $pale-pink;
}
