.container {
margin-top: 20px !important;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 5px;
  margin-bottom: 10px;
  color:black;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  min-height: 220px;
  min-width: 18px;
}

.card-body h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-body p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}


.card-body .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 24px;
}

.card-trip > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 0 20px 0 20px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.btn-green {
  background-color: green;
  color: white;
  margin: 0, auto;
  font-size: larger;
  border-radius: 4px;
  padding: 10px;
}

.btn-red {
  background-color: red;
  color: white;
  margin: 0, auto;
  font-size: larger;
  border-radius: 4px;
  padding: 10px;
}

.btn-blue {
  background-color: blue;
  color: white;
  margin: 0, auto;
  font-size: larger;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
}


.card-trip-pricing {
  text-align: center;
}


//showpage card
.card-product-show {
  overflow: hidden;
  color: black ;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  padding-top: 0%;
  margin: 60px;
}

.card-product-show img {
  height: 100%;
  width: 65%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
  color: $pink;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-product-show p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.card-product-show .card-product-show-infos {
  padding: 25px;
  padding-top: 45px;
}

.card-product-show-infos .btn {
  margin-top: 15px;
}
