// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 5px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-body h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-body p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-body .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
