// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/navbar";
@import "components/footer";
@import "components/button";
@import "components/form";

.fullpage {
  min-height: 80vh;
}

.body {
  background-color: white;
  color: white;
}
