<div class="container py-5">
  <h1 class="text-center py-5">Schedule an appointment</h1>
    <%= simple_form_for [@experience, @appointment] do |f| %>
      <div class="d-flex text-center" style="justify-content: center">
      <%= f.input :date, html5: true %>
      </div>
      <div class="text-center pt-5">
        <%= f.submit class: 'btn' %>
      </div>
    <% end %>
</div>
